:root {
	--primary: #34252f;
	--secondary: #fcdade;
	--accent: #4b6fa8;
	--aside: #a4b494;
}

body {
	background-color: var(--primary);
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-item {
	display: block;
	margin: 1%;
}

#p1,
#p2,
#p3,
#p4 {
	background-image: url(https://via.placeholder.com/300?text=Project);
	flex: 1 0 40%;
	border-bottom: 5px solid var(--accent);
	border-right: 5px solid var(--accent);
	min-height: 200px;
}

#pmain {
	background-image: url(https://via.placeholder.com/300?text=Project);
	border-bottom: 5px solid var(--accent);
	border-right: 5px solid var(--accent);
	flex: 1 80%;
	order: -1;
	min-height: 426px;
	/* I would like to (and spent hours trying to) put this project on the very top, with the others below it and the aside to the side but I can not figure out how to do so*/
}

aside {
	background-color: var(--aside);
	order: 2;
	flex: 1 20%;
}

aside img {
	margin: 0 auto;
	display: block;
	max-width: 50%;
	max-height: 50%;
}

header {
	background-color: var(--secondary);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1%;
}

header nav {
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 1.3em;
}

footer {
	display: flex;
	background-color: var(--secondary);
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 1%;
}

a {
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 768px) {
	.flex-container {
		display: flex;
		flex-direction: column;
	}

	header {
		flex-direction: column;
	}
}

@media screen and (max-width: 830px) {
	.flex-container {
		display: flex;
		flex-direction: column;
	}
}
